
html {
	height: 100%;
}

body {
	/*background-image: url(background.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-position: left bottom;
	background-color:#FFEEDD;
	margin: 50px;
	padding: 0px;
	text-align:center;
}

.form{
	
}

main_menu{
	background-color:#FFE0DD;
	padding:10px;
	font-size:18px;
}

a{
	text-decoration:none;
	color:purple;
}

.welcome{
	
}

error{
	color:#FF0000
}



table, td, th
{
	margin-left:auto; 
	margin-right:auto;
	border:1px solid #FF8000;
}

td
{
  padding:15px;
  background-color:#FFEED0;
}